name: Snapshot Release
on:
  pull_request:
    branches:
      - main

permissions: write-all

jobs:
  dependencies:
    uses: the-guild-org/shared-config/.github/workflows/changesets-dependencies.yaml@main
    if: ${{ github.event.pull_request.title != 'Upcoming Release Changes' }}
    secrets:
      githubToken: ${{ secrets.GITHUB_TOKEN }}

  alpha:
    runs-on: ubuntu-22.04
    if: ${{ github.event.pull_request.title != 'Upcoming Release Changes' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.77.0

      - name: Install dependencies
        working-directory: packages/matchstick
        run: |
          sudo apt-get update
          sudo apt-get -y install libpq-dev protobuf-compiler

      - name: Setup Environment
        uses: the-guild-org/shared-config/setup@main
        with:
          nodeVersion: 20
          packageManager: pnpm
          packageManagerVersion: 9.5.0

      - name: Alpha release
        id: changesets
        uses: the-guild-org/changesets-snapshot-action@v0.0.1
        with:
          tag: alpha
          prepareScript: 'pnpm run build'
        env:
          NPM_TOKEN: ${{ secrets.npmToken }}
          GITHUB_TOKEN: ${{ secrets.githubToken }}

  release-candidate:
    runs-on: ubuntu-22.04
    if: ${{ github.event.pull_request.title == 'Upcoming Release Changes' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.77.0

      - name: Install dependencies
        working-directory: packages/matchstick
        run: |
          sudo apt-get update
          sudo apt-get -y install libpq-dev protobuf-compiler

      - name: Setup Environment
        uses: the-guild-org/shared-config/setup@main
        with:
          nodeVersion: 20
          packageManager: pnpm
          packageManagerVersion: 9.5.0

      - name: Exit Prerelease Mode
        if: ${{ inputs.exitPre }}
        run: pnpm run changeset pre exit

      - name: Restore Deleted Changesets
        if: ${{ inputs.restoreDeletedChangesets }}
        run: git checkout HEAD~1 -- .

      - name: RC release
        id: changesets
        uses: the-guild-org/changesets-snapshot-action@v0.0.1
        with:
          tag: rc
          prepareScript: 'pnpm run build'
        env:
          NPM_TOKEN: ${{ secrets.npmToken }}
          GITHUB_TOKEN: ${{ secrets.githubToken }}
