name: Snapshot Release
on:
  pull_request:
    branches:
      - main

permissions: write-all

jobs:
  dependencies:
    uses: ./.github/workflows/shared-changesets-dependencies.yml
    if: ${{ github.event.pull_request.title != 'Upcoming Release Changes' }}
    secrets:
      githubToken: ${{ secrets.GITHUB_TOKEN }}

  alpha:
    uses: ./.github/workflows/shared-release-snapshot.yml
    if: ${{ github.event.pull_request.title != 'Upcoming Release Changes' }}
    with:
      npmTag: alpha
      buildScript: build
      nodeVersion: 20
      packageManager: pnpm
      packageManagerVersion: 10
    secrets:
      githubToken: ${{ secrets.GITHUB_TOKEN }}
      npmToken: ${{ secrets.NPM_TOKEN }}

  release-candidate:
    uses: ./.github/workflows/shared-release-snapshot.yml
    if: ${{ github.event.pull_request.title == 'Upcoming Release Changes' }}
    with:
      npmTag: rc
      buildScript: build
      nodeVersion: 20
      packageManager: pnpm
      packageManagerVersion: 10
      restoreDeletedChangesets: true
    secrets:
      githubToken: ${{ secrets.GITHUB_TOKEN }}
      npmToken: ${{ secrets.NPM_TOKEN }}
