name: Release
on:
  push:
    branches:
      - main

permissions: write-all

env:
  RELEASE_COMMIT_MSG: "chore(release): update monorepo packages versions"

jobs:
  stable:
    name: Stable
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ github.token }}
      - name: Setup environment
        uses: ./.github/actions/setup-node
        with:
          nodeVersion: 20
          packageManager: pnpm
          packageManagerVersion: 9

      - name: Import bot's GPG key for signing commits
        id: import-gpg
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.PINAX_BOT_PGP_PRIVATE_KEY }}
          passphrase: ${{ secrets.PINAX_BOT_PGP_PASSPHRASE }}
          git_committer_name: pinax-bot
          git_committer_email: ops@pinax.network
          git_config_global: true
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Set variables
        id: vars
        run: |
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          echo "date=$(date +"%B %d, %Y")" >> $GITHUB_OUTPUT
      - name: Build
        if: ${{ startsWith(github.event.head_commit.message, env.RELEASE_COMMIT_MSG) }}
        run: pnpm --filter=@graphprotocol/graph-cli build
      - name: Pack binaries
        if: ${{ startsWith(github.event.head_commit.message, env.RELEASE_COMMIT_MSG) }}
        run: pnpm --filter=@graphprotocol/graph-cli oclif:pack
      - name: Release / pull_request
        uses: pinax-network/changesets-release-action@v1.5.2
        with:
          publish: pnpm release
          version: pnpm changeset version
          commit: ${{ env.RELEASE_COMMIT_MSG }}
          title: Upcoming Release Changes
          createGithubReleases: true
          setupGitUser: false
          githubReleaseName: ${{ steps.vars.outputs.date }}
          githubReleaseAssets: packages/cli/dist/*.tar.gz
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.PINAX_BOT_GITHUB_TOKEN }}
