name: Release
on:
  push:
    branches:
      - main

permissions: write-all

jobs:
  stable:
    uses: the-guild-org/shared-config/.github/workflows/release-stable.yml@main
    with:
      releaseScript: release
      nodeVersion: 16
      packageManager: pnpm
    secrets:
      githubToken: ${{  secrets.GUILD_BOT_TOKEN }}
      npmToken: ${{ secrets.NPM_TOKEN }}
