name: Rust CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.77.0
      - run: sudo apt-get install protobuf-compiler
      - name: cargo check
        working-directory: packages/matchstick
        run: |
          cargo check

  test:
    name: Test Suite
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.77.0

      - name: Install dependencies
        working-directory: packages/matchstick
        run: |
          sudo apt-get update
          sudo apt-get -y install libpq-dev protobuf-compiler

      - name: Run tests
        working-directory: packages/matchstick
        run: cargo test

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.77.0
      - name: install rustfmt
        working-directory: packages/matchstick
        run: rustup component add rustfmt
      - name: format
        working-directory: packages/matchstick
        run: cargo fmt --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.77.0
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install libpq-dev protobuf-compiler
      - name: install clippy
        working-directory: packages/matchstick
        run: rustup component add clippy
      - name: clippy
        working-directory: packages/matchstick
        run: cargo clippy -- -D warnings
